*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:"poppins",sans-serif;
}
body{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: blueviolet
}
input{
    outline: none;
    border: none;
}
.calci{
    width: 430px;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
}
input:not(.text){
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 10px;
    font-size: 24px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}
input:hover:not(.text, .operator){
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.operator{
    color: blueviolet;
}
.operator:hover{
   background-color: black; 
   color: blueviolet;
   cursor: pointer;
   transition: all 0.2s ease-in-out;
}
.display .text{
width: 100%;
height: 70px;
padding: 0 20px 0 0;
margin-bottom: 15px;
text-align: right;
font-size: 30px;
border-radius: 50px;
}
.calci .equal{
width: 155px;
border-radius: 20%;
}

